extends layout

block content
  h1= 'Dagskrá'
  each schedule in schedules
    h2= schedule.title
    p= 'Byrjar: ' + schedule.startTime
    if schedule.duration
      p= 'Tími: ' + schedule.duration
    if schedule.shortDescription
      p= 'Stutt lýsing: ' + schedule.shortDescription
    if schedule.description
      p= 'Lýsing: ' + schedule.description
    if schedule.series.episode
      p= 'Þáttur: ' + schedule.series.episode
    if schedule.series.series
      p= 'Sería: ' + schedule.series.series