extends layout

block content
  h1= channelName
  p Welcomes! to #{channelName}
  each schedule in schedules
    h2= schedule.title
    p= schedule.duration
    p= schedule.description
    p= schedule.shortDescription
    p= schedule.live
    p= schedule.premire
    p= schedule.startTime
    p= schedule.aspectRatio
    p= schedule.series.episode
    p= schedule.series.series

  //
    ul
    each concert in concerts
        h2: a(href='/event/' + concert.eventDateName)= concert.eventDateName
        p= concert.dateOfShow
        img(src=concert.imageSource)