extends layout

block content
  h1= title
  p Welcomes! to #{title}
  each channel in channels
      h2: a(href=channel.endpoint)= channel.name


  //
    ul
    each concert in concerts
        h2: a(href='/event/' + concert.eventDateName)= concert.eventDateName
        p= concert.dateOfShow
        img(src=concert.imageSource)